**/dist
results
.nyc_output
*.tsbuildinfo
.DS_Store
.idea

# NextJs build
**/.next

# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# vscode
.vscode/

# nvim nlsp
**/.nlsp-settings

# dotenv environment variables file
.env
.env.development

.yalc
yalc.lock
